{% comment %} Featured Items (2-up) {% endcomment %}

<section class="tw-w-full tw-max-w-none tw-my-12 tw-pr-8">
  <div class="tw-pl-8">
    <h3 class="tw-uppercase tw-tracking-widest tw-text-2xl">Featured Items</h3>
    <h1 class="tw-text-4xl md:tw-text-5xl tw-font-bold tw-mt-2">You don't want to miss these!</h1>
  </div>

  <div
    x-data
    class="tw-mt-8 tw-flex tw-gap-8 tw-pl-8 tw-pr-8 tw-box-border"
  >
    {% for block in section.blocks %}
      {% assign product = block.settings.product %}
      {% if product %}
        <div
          class="tw-relative tw-shrink-0 tw-w-full md:tw-w-1/2 tw-aspect-[16/9] tw-rounded-lg tw-overflow-hidden tw-flex tw-items-end tw-pl-8 tw-pb-8"
          style="background-image:url('{{ product.featured_image | image_url: width: 1200 }}'); background-size:cover; background-position:center;"
        >
          <div class="tw-w-full tw-backdrop-blur-sm tw-text-white tw-p-6">
            <h2 class="tw-text-6xl tw-font-extrabold tw-text-white tw-font-[Grotesque]">{{ product.title }}</h2>
            <p class="tw-mb-4 tw-text-3xl tw-text-white tw-font-[Grotesque]">
              {{ block.settings.short_description }}
            </p>
            <a
              href="{{ product.url }}"
              class="tw-inline-block tw-text-xl tw-font-bold tw-uppercase tw-underline tw-text-white tw-font-[Grotesque]"
            >
              Shop Now
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Items",
  "max_blocks": 2,
  "settings": [],
  "blocks": [
    {
      "type": "item",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "text",
          "id": "short_description",
          "label": "Short description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Items (2-up)"
    }
  ]
}
{% endschema %}
