.tw-absolute {
  position: absolute
}

.tw-relative {
  position: relative
}

.tw-bottom-8 {
  bottom: 2rem
}

.tw-left-4 {
  left: 1rem
}

.tw-right-4 {
  right: 1rem
}

.tw-right-8 {
  right: 2rem
}

.tw-top-1\/2 {
  top: 50%
}

.tw-top-8 {
  top: 2rem
}

.tw-bottom-4 {
  bottom: 1rem
}

.tw-left-8 {
  left: 2rem
}

.tw-left-2 {
  left: 0.5rem
}

.tw-right-2 {
  right: 0.5rem
}

.tw-z-10 {
  z-index: 10
}

.tw-my-auto {
  margin-top: auto;
  margin-bottom: auto
}

.tw-mr-0 {
  margin-right: 0px
}

.tw-mb-4 {
  margin-bottom: 1rem
}

.tw-mt-4 {
  margin-top: 1rem
}

.tw-mb-0 {
  margin-bottom: 0px
}

.tw-mb-2 {
  margin-bottom: 0.5rem
}

.tw-mb-8 {
  margin-bottom: 2rem
}

.tw-mt-8 {
  margin-top: 2rem
}

.tw-mb-3 {
  margin-bottom: 0.75rem
}

.tw-ml-2 {
  margin-left: 0.5rem
}

.tw-inline-block {
  display: inline-block
}

.tw-flex {
  display: flex
}

.tw-hidden {
  display: none
}

.tw-h-12 {
  height: 3rem
}

.tw-h-14 {
  height: 3.5rem
}

.tw-h-16 {
  height: 4rem
}

.tw-w-12 {
  width: 3rem
}

.tw-w-full {
  width: 100%
}

.tw-w-14 {
  width: 3.5rem
}

.tw-w-16 {
  width: 4rem
}

.tw-w-60 {
  width: 15rem
}

.tw-max-w-md {
  max-width: 28rem
}

.tw-flex-shrink-0 {
  flex-shrink: 0
}

.tw-shrink-0 {
  flex-shrink: 0
}

.-tw-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness)
}

.tw-snap-mandatory {
  --tw-scroll-snap-strictness: mandatory
}

.tw-snap-start {
  scroll-snap-align: start
}

.tw-flex-col {
  flex-direction: column
}

.tw-items-start {
  align-items: flex-start
}

.tw-items-end {
  align-items: flex-end
}

.tw-items-center {
  align-items: center
}

.tw-justify-center {
  justify-content: center
}

.tw-gap-4 {
  gap: 1rem
}

.tw-gap-0 {
  gap: 0px
}

.tw-space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.tw-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.tw-self-center {
  align-self: center
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-overflow-x-auto {
  overflow-x: auto
}

.tw-scroll-smooth {
  scroll-behavior: smooth
}

.tw-rounded {
  border-radius: 0.25rem
}

.tw-rounded-sm {
  border-radius: 0.125rem
}

.tw-bg-green-700 {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity))
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.tw-bg-white\/80 {
  background-color: rgb(255 255 255 / 0.8)
}

.tw-bg-opacity-80 {
  --tw-bg-opacity: 0.8
}

.tw-bg-cover {
  background-size: cover
}

.tw-bg-center {
  background-position: center
}

.tw-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.tw-pl-\[2px\] {
  padding-left: 2px
}

.tw-pr-\[2px\] {
  padding-right: 2px
}

.tw-pl-\[1px\] {
  padding-left: 1px
}

.tw-pb-4 {
  padding-bottom: 1rem
}

.tw-pb-6 {
  padding-bottom: 1.5rem
}

.tw-text-left {
  text-align: left
}

.tw-text-center {
  text-align: center
}

.tw-text-right {
  text-align: right
}

.tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.tw-text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-text-5xl {
  font-size: 3rem;
  line-height: 1
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.tw-text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.tw-font-extrabold {
  font-weight: 800
}

.tw-font-semibold {
  font-weight: 600
}

.tw-font-bold {
  font-weight: 700
}

.tw-leading-relaxed {
  line-height: 1.625
}

.tw-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tw-opacity-80 {
  opacity: 0.8
}

.tw-opacity-0 {
  opacity: 0
}

.tw-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.tw-drop-shadow-lg {
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.tw-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-duration-300 {
  transition-duration: 300ms
}

.tw-duration-700 {
  transition-duration: 700ms
}

.tw-ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.hover\:tw-bg-green-800:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 101 52 / var(--tw-bg-opacity))
}

.hover\:tw-bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:tw-opacity-100:hover {
  opacity: 1
}

.tw-group:hover .group-hover\:tw-flex {
  display: flex
}

.tw-group:hover .group-hover\:tw-opacity-100 {
  opacity: 1
}

@media (min-width: 768px) {
  .md\:tw-text-5xl {
    font-size: 3rem;
    line-height: 1
  }

  .md\:tw-text-6xl {
    font-size: 3.75rem;
    line-height: 1
  }

  .md\:tw-text-7xl {
    font-size: 4.5rem;
    line-height: 1
  }
}
